@model LoginModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/layout/login.css" rel="stylesheet" />
    <title>Front-end Hack</title>
</head>

<body>
    <section class="login container">
        <div class="login-components">
            <a href="@Url.Action("Index","Home")">
                <img src="~/img/logo.png" id="logo" />
            </a>
            @using (Html.BeginForm())
            {
                <h1>Faça seu login</h1>
                <div class="form-group">
                    @Html.EditorFor(m => m.Email, new { htmlAttributes = new { placeholder = "Email", @class = "email" } })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>

                <div class="form-group">
                    @Html.EditorFor(m => m.Password, new { htmlAttributes = new { placeholder = "Senha", @class = "password" } })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>

                <a href="#">Esqueceu sua senha?</a>
                <input class="btn" type="submit" name="Entrar" value="Entrar" style="margin-top: 20px" />
            }
        </div>
    </section>

    <footer class="footer">
        <div class="container">

            <p class="grid-4">All rights reserved © Copyright 2021</p>

            <ul class="grid-8">
                <li><img src="./img/twitter.png" alt=""></li>
                <li><img src="./img/instagram.png" alt=""></li>
                <li><img src="./img/facebook.png" alt=""></li>
            </ul>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script>
        $(document).ready(function () {
            localStorage.removeItem('userPicture');
        });
    </script>
</body>

</html>