@model RegisterDiscoverModel
@using System.IO

@{
    Layout = null;
    var base64String = "#";

    if (Model?.Picture != null && Model?.Picture.Length > 0)
    {
        using (var ms = new MemoryStream())
        {
            Model.Picture.CopyTo(ms);
            var fileBytes = ms.ToArray();
            base64String = Convert.ToBase64String(fileBytes);
        }
    }
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="~/img/favicon.ico" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/layout/login.css">
    <link rel="stylesheet" href="~/css/layout/cadastro.css">
    <title>D.Grau - Cadastro Mentor</title>
</head>

<body>
    <section class="login container">
        <div class="login-components">
            <a href="@Url.Action("Index","Home")">
                <img src="~/img/logo.png" id="logo" />
            </a>
            @using (Html.BeginForm("RegisterDiscover", "Authentication", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <h1>Crie sua conta</h1>
                <div class="form-group">
                    @Html.LabelFor(m => m.Name)
                    @Html.EditorFor(m => m.Name, new { htmlAttributes = new { placeholder = "Nome", @class = "name" } })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Email)
                    @Html.EditorFor(m => m.Email, new { htmlAttributes = new { placeholder = "E-mail", @class = "email" } })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.PhoneNumber)
                    @Html.EditorFor(m => m.PhoneNumber, new { htmlAttributes = new { placeholder = "Celular", @class = "phone" } })
                    @Html.ValidationMessageFor(m => m.PhoneNumber)
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Password)
                    @Html.EditorFor(m => m.Password, new { htmlAttributes = new { placeholder = "Senha", @class = "password" } })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.EditorFor(m => m.ConfirmPassword, new { htmlAttributes = new { placeholder = "Repita sua senha", @class = "password" } })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>


                <div class="form-group">
                    @Html.Label("Picture", "Selecione uma foto", new { @class = "upload-picture" })
                    <br /><input type="file" name="Picture" id="Picture" accept=".png,.jpeg,.jpg" class="img" style="visibility: hidden;" />
                    @Html.ValidationMessageFor(m => m.Picture)

                    @{
                        var display = "none";
                        if (Model?.Picture != null)
                        {
                            display = "block";
                        }

                        <div class="mask" style="display: @display" id="displayImage">
                            @Html.Label("Foto carregada")
                            <img src="data:image/png;base64,@base64String" alt="" class="uploaded-picture" id="picture-img" /><br />
                        </div>
                    }
                </div>
                @Html.HiddenFor(m => m.Type)
                <input class="btn" style="margin-top:39px;" type="submit" name="Cadastrar" value="Cadastrar" />
                <p>Já possui conta? @Html.ActionLink("Entrar", "Login", "Authentication")</p>
            }
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <p class="grid-4">All rights reserved © Copyright 2021</p>
            <ul class="grid-8">
                <li><img src="~/img/twitter.png" alt=""></li>
                <li><img src="~/img/instagram.png" alt=""></li>
                <li><img src="~/img/facebook.png" alt=""></li>
            </ul>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script>
        $(document).read(function () {
            localStorage.removeItem('userPicture');
        });

        $('#Picture').change(function () {
            var input = this;
            var url = $(this).val();
            var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
            if (input.files && input.files[0] && (ext == "png" || ext == "jpg" || ext == "jpeg")) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#picture-img').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
                $('#displayImage').show();
            }
        });

    </script>

    <style>
        #picture-img {
            display: block;
            max-width: 200px;
            max-height: 200px;
            width: auto;
            height: auto;
        }
    </style>
</body>

</html>
