@model List<HackathonCCR.MVC.Models.Schedule.UserSchedule>
@{
    ViewData["Title"] = "D.Grau - Mentor";
}
<link href="~/css/layout/aluno-logado.css" rel="stylesheet" />
<link href="~/lib/chart/chart.css" rel="stylesheet" />

<section class="agenda-mentoria container">
    <div class="header-agenda col-md-12">
        <img src="~/img/icon-agenda.png" alt="">
        <h3>Mentorias agendadas</h3>
        <a data-toggle="modal" data-target="#newMentorScheduleModal"><img class="plus" src="~/img/icon-plus.png" alt=""></a>
    </div>

    <div class="lista-mentores">
        @foreach (var item in Model)
        {
            <div class="row mentoria">
                <div class="col-md-7">
                    <div style="float: left" class="mask">
                        <img src="data:image/png;base64,@item.PartnerPicture" class="partner-picture">
                    </div>
                    <div class="info-mentor">
                        <h1>@item.PartnerName</h1>
                        <span class="course">@item.Course</span>
                    </div>
                </div>
                <div class="col-md-2 agendamento hora">
                    <h3 class="cabecalho">Horário</h3>
                    <span class="dados">@item.ScheduleTime</span>
                </div>

                <div class="col-md-3 agendamento data">
                    <h3 class="cabecalho">Data</h3>
                    <span class="dados">@item.ScheduleDate</span>
                </div>
            </div>
        }

    </div>
</section>

<section class="container">
    <div class="horas-complementares">
        <div class="header-horas">
            <img src="~/img/icon-relogio.png" alt="">
            <h2>Horas complementares</h2>
        </div>
        <div class="row">
            <div class="dados-horas col-md-6">
                <img src="~/img/retangulo-roxo.png" alt="">
                <p class="roxo">Horas obtidas: 150h</p>
                <img src="~/img/retangulo-cinza.png" alt="">
                <p class="cinza">Horas restantes: 0h</p>
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
</section>

<link href="~/lib/select2/select2.min.css" rel="stylesheet" />
<div class="modal" id="newMentorScheduleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                Informe o horário de ínciio da sua disponibilidade:
                @Html.DropDownList("startTime", (List<SelectListItem>)ViewBag.Times, null, null)
                Informe o horário de fim da sua disponibilidade:
                @Html.DropDownList("endTime", (List<SelectListItem>)ViewBag.Times, null, null)
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-12">
                        <span>Escolhas o(s) dia(s) de sua mentoria</span>
                        <div id="weekdays" style="text-align:center;margin-bottom: 20px;">
                            <span class="dot" data-day="0"><div class="middle-text"><h4>D</h4></div></span>
                            <span class="dot" data-day="1"><div class="middle-text"><h4>S</h4></div></span>
                            <span class="dot" data-day="2"><div class="middle-text"><h4>T</h4></div></span>
                            <span class="dot" data-day="3"><div class="middle-text"><h4>Q</h4></div></span>
                            <span class="dot" data-day="4"><div class="middle-text"><h4>Q</h4></div></span>
                            <span class="dot" data-day="5"><div class="middle-text"><h4>S</h4></div></span>
                            <span class="dot" data-day="6"><div class="middle-text"><h4>S</h4></div></span>
                        </div>
                    </div>
                    <div class="col-md-12" style="align-items: center; text-align: center">
                        <button type="button" class="btn yes">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/select2/select2.min.js"></script>

<script>
    $('.dot').on('click', (event) => {
        $(event.currentTarget).toggleClass('day-select')
        console.log("Clicked")
        console.log("This", $(this), $(event))
    })
    $(document).ready(function () {
        $("#startTime").select2({
            'widht': '100%'
        });
        $("#endTime").select2({
            'widht': '100%'
        });
    });
</script>


<style>
    .modal-footer {
        background-color: #8960FF;
        border-radius: 2rem;
    }

        .modal-footer span {
            color: rgb(239, 239, 239);
            font-weight: bold;
            text-align: left;
            font-size: 1em;
            color: #fff;
            padding: 20px;
        }

        .modal-footer .btn.yes {
            margin: auto;
            font-size: 25px;
            font-weight: bold;
            width: 170px;
            margin: auto;
            border-radius: 60px;
            height: 60px;
            background-color: rgb(239, 239, 239);
            color: #8960FF;
        }

    #newMentorScheduleModal::before {
        content: '';
        display: block;
        width: 60px;
        height: 60px;
        margin-left: auto;
        background: #FF6060;
        border-radius: 50%;
        position: relative;
        top: -20px;
        left: 10px;
    }
</style>

<style>

    .dot h4 {
        margin-top: -13px;
        color: white;
        cursor: pointer;
    }

    .dot {
        height: 40px;
        width: 40px;
        margin: 10px;
        border-radius: 50%;
        display: inline-block;
    }

    .middle-text {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .day-select {
        background: white;
    }

        .day-select h4 {
            color: #8960FF;
        }
</style>